:root {
  --color-primary-white: #ffffff;
  --color-primary-yellow: #ff9f0e;
  --color-primary-dark: #181817;

  --color-secondary-yellow: #fcb62a;
  --color-secondary-light: #fffaf3;
  --color-secondary-gentle: #f1f3ff;
  --color-secondary-dark: #839aa9;
  --color-secondary-white: #f9f9ff;
  --color-secondary-purple: #d9a6ff;
}
