.header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;

  &__container {
    gap: 48px;
    display: flex;
    align-items: center;

    &__menu {
      display: flex;
      gap: 48px;
      flex-grow: 1;
      justify-content: center;
    }

    &__button {
      display: flex;
      gap: 10px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 48px;
  }

  &__button-cart {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
